* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README.WarServ -text
/RELNOTES -text
/RELNOTES.win32.txt eol=crlf
/aclocal.m4 -text
/configure -text
/configure.in -text
/events.c -text
/install-sh -text
/modconfig.h.in -text
/play.c -text
/pulse.xml -text
/warserv.c -text
/warserv.h -text
/warserv.sln -text
/warserv.vcproj -text
/warserv_help.c -text
win32/WarServ.qsp -text
win32/buildwin32snap.bat -text
win32/modconfigwin32.h -text
win32/neostatsversion.rc -text
