* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/LICENSE -text
/Makefile.in -text
/NEWS -text
/README.WarServ -text
/README.WarServ.html -text
/README.WarServ.xml -text
/RELNOTES -text
/configure -text
/configure.in -text
/events.c -text
/install-sh -text
/modconfig.h.in -text
/modconfigwin32.h -text
/play.c -text
/warserv.c -text
/warserv.h -text
/warserv.vcproj -text
/warserv_help.c -text
